In [1]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\rushikesh\appdata\local\anaconda3\lib\site-packages (1.1.0)

In [2]:
import pymysql
import pandas as pd

In [3]:
conn = pymysql.connect(host = 'localhost', port = int(3306), user = 'root', password = 'Qwerty@12345', db = 'rushikesh')
print("Connection established", conn)

Connection established <pymysql.connections.Connection object at 0x0000018A3FF7D890>

In [4]:
df= pd.read_sql_query("select * from movies", conn)
df

C:\Users\Rushikesh\AppData\Local\Temp\ipykernel_11280\3316164434.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df= pd.read_sql_query("select * from movies", conn)

    ID                Title        Director  year  length_minutes
0    1            Toy Story   John Lasseter  1995              81
1    2         A Bug's life   John Lasseter  1998              95
2    3           Toy Story2   John Lasseter  1999              93
3    4       Monsters, Inc.     Pete Docter  2001              92
4    5         Finding Nemo  Andrew Stanton  2003             107
5    6      The Incredibles       Brad Bird  2004             116
6    7                 Cars   John Lasseter  2006             117
7    8          Ratatouille       Brad Bird  2007             115
8    9               WALL-E  Andrew Stanton  2008             104
9   10                   Up     Pete Docter  2009             101
10  11           Toy Story3     Lee Unkrich  2010             103
11  12                Cars2   John Lasseter  2011             120
12  13                Brave  Brenda Chapman  2012             102
13  14  Monsters University     Dan Scanlon  2013             110

In [5]:
df.head(2)

   ID         Title       Director  year  length_minutes
0   1     Toy Story  John Lasseter  1995              81
1   2  A Bug's life  John Lasseter  1998              95

In [6]:
df.shape

(14, 5)

In [12]:
df.describe

<bound method NDFrame.describe of     ID                Title        Director  year  length_minutes
0    1            Toy Story   John Lasseter  1995              81
1    2         A Bug's life   John Lasseter  1998              95
2    3           Toy Story2   John Lasseter  1999              93
3    4       Monsters, Inc.     Pete Docter  2001              92
4    5         Finding Nemo  Andrew Stanton  2003             107
5    6      The Incredibles       Brad Bird  2004             116
6    7                 Cars   John Lasseter  2006             117
7    8          Ratatouille       Brad Bird  2007             115
8    9               WALL-E  Andrew Stanton  2008             104
9   10                   Up     Pete Docter  2009             101
10  11           Toy Story3     Lee Unkrich  2010             103
11  12                Cars2   John Lasseter  2011             120
12  13                Brave  Brenda Chapman  2012             102
13  14  Monsters University     Dan Scanlon  2013             110>

In [11]:
df['Director']

<bound method IndexOpsMixin.value_counts of 0      John Lasseter
1      John Lasseter
2      John Lasseter
3        Pete Docter
4     Andrew Stanton
5          Brad Bird
6      John Lasseter
7          Brad Bird
8     Andrew Stanton
9        Pete Docter
10       Lee Unkrich
11     John Lasseter
12    Brenda Chapman
13       Dan Scanlon
Name: Director, dtype: object>